#contact {
	.contact-form {
		.form-error, .form-success {
			width: 100%;
			padding: 12px;
			display: none;
			margin-top: 12px;
		}
	}
	.contact {
		text-align: center;
		.contact-social {
			color: $dark;
			&:not(:first-child) {
				margin-left: 15px;
			}
		}
		.contact-email {
			display: inline-block;
			padding: 5px 8px;
			margin: 20px 0;
			color: $dark;
			font-size: 1.25em;
			font-weight: 500;
		}
	}
}

@media only screen and (max-width: 767px) {
	#contact {
		padding-bottom: 0;
	}
}